mainBranch/schemas/ILCD_ProcessDataSet_NA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD" xmlns:process="http://lca.jrc.it/ILCD/Process" xmlns="http://lca.jrc.it/ILCD/Process"
  xmlns:edoc="http://www.iai.fzk.de/lca/edoc" xmlns:common="http://lca.jrc.it/ILCD/Common" targetNamespace="http://lca.jrc.it/ILCD/Process" elementFormDefault="qualified"
  version="1.1">
  <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups.xsd"/>
  <xs:redefine schemaLocation="ILCD_Common_Validation_NA.xsd">
    <xs:simpleType name="MethodOfReviewValues">
      <xs:restriction base="MethodOfReviewValues">
        <xs:enumeration value="Validation of data sources"/>
        <xs:enumeration value="Sample tests on calculations"/>
        <xs:enumeration value="Energy balance"/>
        <xs:enumeration value="Element balance"/>
        <xs:enumeration value="Cross-check with other source"/>
        <xs:enumeration value="Cross-check with other data set"/>
        <xs:enumeration value="Expert judgement"/>
        <xs:enumeration value="Mass balance"/>
        <xs:enumeration value="Compliance with legal limits"/>
        <xs:enumeration value="Compliance with ISO 14040 to 14044"/>
        <xs:enumeration value="Documentation"/>
        <xs:enumeration value="Evidence collection by means of plant visits and/or interviews"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:redefine>
  <xs:complexType name="AdministrativeInformationType" mixed="false">
    <xs:sequence>
      <!--<xs:element ref="common:commissionerAndGoal" minOccurs="0" edoc:id="1-5-24"/>-->
      <!--<xs:element name="dataGenerator" type="DataGeneratorType" minOccurs="0" edoc:id="1-5-26"/>-->
      <xs:element name="dataEntryBy" type="DataEntryByType" minOccurs="0" edoc:id="1-5-28"/>
      <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" minOccurs="0" edoc:id="1-5-30">
        <xs:unique name="accessRestrictionsLangUniqueConstraint">
          <xs:selector xpath="common:accessRestrictions"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="AllocationsType">
    <xs:sequence>
      <xs:element name="allocation" type="AllocationType" maxOccurs="unbounded" edoc:id="1-7-32-201"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllocationType">
    <xs:attribute name="internalReferenceToCoProduct" type="common:Int6" edoc:id="1-7-32-202"/>
    <xs:attribute name="allocatedFraction" type="common:Perc" edoc:id="1-7-32-203"/>
  </xs:complexType>
  <!--<xs:complexType name="ComplementingProcessesType">
    <xs:sequence>
      <xs:element name="referenceToComplementingProcess" type="common:GlobalReferenceType" maxOccurs="unbounded" edoc:id="1-1-2-8-1"/>
    </xs:sequence>
  </xs:complexType>-->
  <!--<xs:complexType name="CompletenessElementaryFlowsType">
    <xs:attribute name="type" type="common:CompletenessTypeValues" edoc:id="1-3-18-65-1"/>
    <xs:attribute name="value" type="common:CompletenessValues" edoc:id="1-3-18-65-2"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <!--<xs:complexType name="CompletenessType" mixed="false">
    <xs:sequence>
      <xs:element name="completenessProductModel" type="common:CompletenessValues" minOccurs="0" edoc:id="1-3-18-63"/>
      <xs:element name="referenceToSupportedImpactAssessmentMethods" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-18-64">
        <xs:unique name="referenceToSupportedImpactAssessmentMethodsShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="completenessElementaryFlows" type="CompletenessElementaryFlowsType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-18-65"/>
      <xs:element name="completenessOtherProblemField" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-18-80"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <!--<xs:complexType name="ComplianceDeclarationsType" mixed="false">
    <xs:sequence>
      <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded" edoc:id="1-3-22-1"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <!--<xs:complexType name="ComplianceType">
    <xs:sequence>
      <xs:group ref="common:ComplianceGroup"/>
      <xs:element ref="common:nomenclatureCompliance" minOccurs="0" edoc:id="1-3-22-92"/>
      <xs:element ref="common:methodologicalCompliance" minOccurs="0" edoc:id="1-3-22-91"/>
      <xs:element ref="common:reviewCompliance" minOccurs="0" edoc:id="1-3-22-93"/>
      <xs:element ref="common:documentationCompliance" minOccurs="0" edoc:id="1-3-22-94"/>
      <xs:element ref="common:qualityCompliance" minOccurs="0" maxOccurs="1" edoc:id="1-3-22-96"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <xs:complexType name="DataEntryByType">
    <xs:sequence>
      <xs:group ref="common:DataEntryByGroup1"/>
      <!--<xs:element ref="common:referenceToConvertedOriginalDataSetFrom" minOccurs="0" edoc:id="1-5-28-108"/>-->
      <xs:group ref="common:DataEntryByGroup2"/>
      <!--<xs:element ref="common:referenceToDataSetUseApproval" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-28-109"/>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="DataGeneratorType">
    <xs:sequence>
      <xs:element ref="common:referenceToPersonOrEntityGeneratingTheDataSet" maxOccurs="unbounded" minOccurs="0" edoc:id="1-5-26-99"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="DataSetInformationType" mixed="false">
    <xs:sequence>
      <xs:element ref="common:UUID" edoc:id="1-1-2-1"/>
      <xs:element name="name" type="NameType" minOccurs="0" edoc:id="1-1-2-2">
        <xs:unique name="baseNameLangUniqueConstraint">
          <xs:selector xpath="process:baseName"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <!--<xs:unique name="treatmentStandardsRoutesLangUniqueConstraint">
               <xs:selector xpath="process:treatmentStandardsRoutes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>-->
        <!--<xs:unique name="mixAndLocationTypesLangUniqueConstraint">
               <xs:selector xpath="process:mixAndLocationTypes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>-->
        <xs:unique name="functionalUnitFlowPropertiesLangUniqueConstraint">
          <xs:selector xpath="process:functionalUnitFlowProperties"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <!--<xs:element name="identifierOfSubDataSet" type="common:String" minOccurs="0" edoc:id="1-7-32-131"/>-->
      <xs:element ref="common:synonyms" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-6"/>
      <!--<xs:element name="complementingProcesses" type="ComplementingProcessesType" minOccurs="0" edoc:id="1-1-2-8"/>-->
      <xs:element name="classificationInformation" type="common:ClassificationInformationType" minOccurs="0" edoc:id="1-1-2-7"/>
      <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-12"/>
      <xs:element name="referenceToExternalDocumentation" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-2-13">
        <xs:unique name="referenceToExternalDocumentationShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="DataSourcesTreatmentAndRepresentativenessType" mixed="false">
    <xs:sequence>
      <!--<xs:element name="dataCutOffAndCompletenessPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-48"/>
      <xs:element name="deviationsFromCutOffAndCompletenessPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-49"/>
      <xs:element name="dataSelectionAndCombinationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-50"/>
      <xs:element name="deviationsFromSelectionAndCombinationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-51"/>
      <xs:element name="dataTreatmentAndExtrapolationsPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-52"/>
      <xs:element name="deviationsFromTreatmentAndExtrapolationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-53"/>
      <xs:element name="referenceToDataHandlingPrinciples" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-16-54">
        <xs:unique name="referenceToDataHandlingPrinciplesShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-16-55">
        <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <!--<xs:element name="percentageSupplyOrProductionCovered" type="common:Perc" minOccurs="0" edoc:id="1-3-16-57"/>
      <xs:element name="annualSupplyOrProductionVolume" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-58"/>
      <xs:element name="samplingProcedure" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-59"/>
      <xs:element name="dataCollectionPeriod" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-60"/>
      <xs:element name="uncertaintyAdjustments" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-61"/>-->
      <xs:element name="useAdviceForDataSet" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-62"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ExchangesType" mixed="false">
    <xs:sequence>
      <xs:element name="exchange" type="ExchangeType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-7-32">
        <xs:unique name="flowGeneralCommentLangUniqueConstraint2">
          <xs:selector xpath="process:generalComment"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ExchangeType" mixed="false">
    <xs:sequence>
      <xs:element name="referenceToFlowDataSet" type="common:GlobalReferenceType" edoc:id="1-7-32-119">
        <xs:unique name="referenceToFlowDataSetShortDescriptionLangUniqueConstraint2">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <!--<xs:element name="location" type="common:String" minOccurs="0" edoc:id="1-7-32-121"/>
      <xs:element name="functionType" type="common:ExchangeFunctionTypeValues" minOccurs="0" edoc:id="1-7-32-122"/>
      <xs:element name="exchangeDirection" type="common:ExchangeDirectionValues" minOccurs="0" edoc:id="1-7-32-123"/>
      <xs:element name="referenceToVariable" type="xs:string" minOccurs="0" edoc:id="1-7-32-124"/>
      <xs:element name="meanAmount" type="common:Real" edoc:id="1-7-32-125"/>
      <xs:element name="resultingAmount" type="common:Real" edoc:id="1-7-32-126" minOccurs="0"/>
      <xs:element name="minimumAmount" type="common:Real" minOccurs="0" edoc:id="1-7-32-127"/>
      <xs:element name="maximumAmount" type="common:Real" minOccurs="0" edoc:id="1-7-32-128"/>
      <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="1-7-32-129"/>
      <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="1-7-32-130"/>
      <xs:element name="allocations" type="AllocationsType" minOccurs="0" edoc:id="1-7-32-200"/>
      <xs:element name="dataSourceType" type="common:DataSourceTypeValues" minOccurs="0" edoc:id="1-7-32-132"/>
      <xs:element name="dataDerivationTypeStatus" type="common:DataDerivationTypeStatusValues" minOccurs="0" edoc:id="1-7-32-133"/>
      <xs:element name="referencesToDataSource" type="ReferencesToDataSourceType" minOccurs="0" edoc:id="1-7-32-134"/>
      <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-7-32-136"/>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="dataSetInternalID" type="common:Int6" use="required" edoc:id="1-7-32-120"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="GeographyType" mixed="false">
    <xs:sequence>
      <xs:element name="locationOfOperationSupplyOrProduction" type="LocationOfOperationSupplyOrProductionType" minOccurs="0" edoc:id="1-1-8-21">
        <xs:unique name="locationDescriptionOfRestrictionsLangUniqueConstraint">
          <xs:selector xpath="process:descriptionOfRestrictions"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <!--<xs:element name="subLocationOfOperationSupplyOrProduction" type="SubLocationOfOperationSupplyOrProductionType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-8-22">
        <xs:unique name="subLocationDescriptionOfRestrictionsLangUniqueConstraint">
          <xs:selector xpath="process:descriptionOfRestrictions"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="LCIAResultsType" mixed="false">
    <xs:sequence>
      <xs:element name="LCIAResult" type="LCIAResultType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-8-1">
        <xs:unique name="LCIAResultGeneralCommentLangUniqueConstraint">
          <xs:selector xpath="process:generalComment"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="LCIAResultType" mixed="false">
    <xs:sequence>
      <xs:element name="referenceToLCIAMethodDataSet" type="common:GlobalReferenceType" edoc:id="1-8-1-100">
        <xs:unique name="referenceToLCIAMethodDataSetShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="meanAmount" type="common:Real" edoc:id="1-8-1-101"/>
      <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="1-8-1-102"/>
      <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="1-8-1-103"/>
      <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-8-1-104"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="LCIMethodAndAllocationType" mixed="false">
    <xs:sequence>
      <xs:element name="typeOfDataSet" type="xs:string" fixed="EPD" edoc:id="1-3-14-40"/>
      <!--<xs:element name="LCIMethodPrinciple" type="common:LCIMethodPrincipleValues" minOccurs="0" edoc:id="1-3-14-41"/>
      <xs:element name="deviationsFromLCIMethodPrinciple" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-42"/>
      <xs:element name="LCIMethodApproaches" type="common:LCIMethodApproachesValues" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-14-43"/>
      <xs:element name="deviationsFromLCIMethodApproaches" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-44"/>
      <xs:element name="modellingConstants" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-45"/>
      <xs:element name="deviationsFromModellingConstants" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-46"/>
      <xs:element name="referenceToLCAMethodDetails" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-14-47">
        <xs:unique name="referenceToLCAMethodDetailsShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="LocationOfOperationSupplyOrProductionType" mixed="false">
    <xs:sequence>
      <xs:element name="descriptionOfRestrictions" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-8-24"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="location" type="common:NullableString" edoc:id="1-1-8-21"/>
    <xs:attribute name="latitudeAndLongitude" type="common:GIS" use="optional" edoc:id="1-1-8-23"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!--<xs:complexType name="MathematicalRelationsType" mixed="false">
    <xs:sequence>
      <xs:element name="modelDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-12-31"/>
      <xs:element name="variableParameter" type="VariableParameterType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-12-33">
        <xs:unique name="variableParameterCommentLangUniqueConstraint">
          <xs:selector xpath="process:comment"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <xs:complexType name="ModellingAndValidationType" mixed="false">
    <xs:sequence>
      <xs:element name="LCIMethodAndAllocation" type="LCIMethodAndAllocationType" minOccurs="0" edoc:id="1-3-14">
        <!--<xs:unique name="deviationsFromLCIMethodPrincipleLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromLCIMethodPrinciple"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromLCIMethodApproachesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromLCIMethodApproaches"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="modellingConstantsLangUniqueConstraint">
          <xs:selector xpath="process:modellingConstants"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromModellingConstantsLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromModellingConstants"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>-->
      </xs:element>
      <xs:element name="dataSourcesTreatmentAndRepresentativeness" type="DataSourcesTreatmentAndRepresentativenessType" minOccurs="0" edoc:id="1-3-16">
        <!--<xs:unique name="dataCutOffAndCompletenessPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataCutOffAndCompletenessPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromCutOffAndCompletenessPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromCutOffAndCompletenessPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataSelectionAndCombinationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataSelectionAndCombinationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromSelectionAndCombinationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromSelectionAndCombinationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataTreatmentAndExtrapolationsPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataTreatmentAndExtrapolationsPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromTreatmentAndExtrapolationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromTreatmentAndExtrapolationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="annualSupplyOrProductionVolumeLangUniqueConstraint">
          <xs:selector xpath="process:annualSupplyOrProductionVolume"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="samplingProcedureLangUniqueConstraint">
          <xs:selector xpath="process:samplingProcedure"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataCollectionPeriodLangUniqueConstraint">
          <xs:selector xpath="process:dataCollectionPeriod"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uncertaintyAdjustmentsLangUniqueConstraint">
          <xs:selector xpath="process:uncertaintyAdjustments"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="useAdviceForDataSetLangUniqueConstraint">
          <xs:selector xpath="process:useAdviceForDataSet"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>-->
      </xs:element>
      <!--<xs:element name="completeness" type="CompletenessType" minOccurs="0" edoc:id="1-3-18">
        <xs:unique name="CompletenessElementaryFlowsUniqueConstraint">
          <xs:selector xpath="process:completenessElementaryFlows"/>
          <xs:field xpath="@type"/>
        </xs:unique>
        <xs:unique name="completenessOtherProblemFieldLangUniqueConstraint">
          <xs:selector xpath="process:completenessOtherProblemField"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element name="validation" type="ValidationType" minOccurs="0" edoc:id="1-3-20"/>
      <!--<xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0" edoc:id="1-3-22"/>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element name="baseName" type="common:StringMultiLang" maxOccurs="100" edoc:id="1-1-2-2-1"/>
      <!--<xs:element name="treatmentStandardsRoutes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-3"/>-->
      <!--<xs:element name="mixAndLocationTypes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-4"/>-->
      <xs:element name="functionalUnitFlowProperties" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-5"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ProcessDataSetType" mixed="false">
    <xs:sequence>
      <xs:element name="processInformation" type="ProcessInformationType" edoc:id="1-1"/>
      <xs:element name="modellingAndValidation" type="ModellingAndValidationType" minOccurs="0" edoc:id="1-3"/>
      <xs:element name="administrativeInformation" type="AdministrativeInformationType" minOccurs="0" edoc:id="1-5"/>
      <xs:element name="exchanges" type="ExchangesType" minOccurs="0" edoc:id="1-7"/>
      <xs:element name="LCIAResults" type="LCIAResultsType" minOccurs="0" edoc:id="1-8"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="version" type="common:SchemaVersion" use="required" edoc:id="1-a"/>
    <xs:attribute name="locations" type="common:String" edoc:id="1-b"/>
    <xs:attribute name="metaDataOnly" type="common:boolean" default="false" edoc:id="1-c"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ProcessInformationType" mixed="false">
    <xs:sequence>
      <xs:element name="dataSetInformation" type="DataSetInformationType" edoc:id="1-1-2">
        <xs:unique name="synonymsLangUniqueConstraint">
          <xs:selector xpath="common:synonyms"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="generalCommentLangUniqueConstraint">
          <xs:selector xpath="common:generalComment"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0" edoc:id="1-1-4"/>
      <xs:element name="time" type="common:TimeType" minOccurs="0" edoc:id="1-1-6">
        <xs:unique name="timeRepresentativenessDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:timeRepresentativenessDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="geography" type="GeographyType" minOccurs="0" edoc:id="1-1-8"/>
      <xs:element name="technology" type="TechnologyType" minOccurs="0" edoc:id="1-1-10">
        <xs:unique name="technologyDescriptionAndIncludedProcessesLangUniqueConstraint">
          <xs:selector xpath="process:technologyDescriptionAndIncludedProcesses"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="technologicalApplicabilityLangUniqueConstraint">
          <xs:selector xpath="process:technologicalApplicability"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <!--<xs:element name="mathematicalRelations" type="MathematicalRelationsType" minOccurs="0" edoc:id="1-1-12">
        <xs:unique name="modelDescriptionLangUniqueConstraint">
          <xs:selector xpath="process:modelDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="PublicationAndOwnershipType">
    <xs:sequence>
      <xs:element ref="common:dateOfLastRevision" minOccurs="0" edoc:id="1-5-30-113"/>
      <!--<xs:group ref="common:PublicationAndOwnershipGroup1"/>-->
      <!--<xs:group ref="common:PublicationAndOwnershipGroup2"/>-->
      <!--<xs:element ref="common:referenceToRegistrationAuthority" minOccurs="0" edoc:id="1-5-30-200"/>-->
      <!--<xs:element ref="common:registrationNumber" minOccurs="0" edoc:id="1-5-30-201"/>-->
      <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0" edoc:id="1-5-30-115"/>
      <xs:group ref="common:PublicationAndOwnershipGroup3"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="QuantitativeReferenceType" mixed="false">
    <xs:sequence>
      <xs:element name="referenceToReferenceFlow" type="common:Int6" maxOccurs="unbounded" minOccurs="0" edoc:id="1-1-4-16"/>
      <xs:element name="functionalUnitOrOther" type="common:StringMultiLang" maxOccurs="unbounded" minOccurs="0" edoc:id="1-1-4-17"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="type" type="common:TypeOfQuantitativeReferenceValues" edoc:id="1-1-4-15"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ReferencesToDataSourceType" mixed="false">
    <xs:sequence>
      <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-7-32-134">
        <xs:unique name="flowReferenceToDataSourceShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ReviewType">
    <xs:sequence>
      <!--<xs:group ref="common:ValidationGroup1"/>-->
      <xs:group ref="common:ValidationGroup3"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="type" type="common:TypeOfReviewValues" edoc:id="1-3-20-81"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!--<xs:complexType name="SubLocationOfOperationSupplyOrProductionType" mixed="false">
    <xs:sequence>
      <xs:element name="descriptionOfRestrictions" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-8-24"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="subLocation" type="common:String" use="optional" edoc:id="1-1-8-22"/>
    <xs:attribute name="latitudeAndLongitude" type="common:GIS" use="optional" edoc:id="1-1-8-23"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <xs:complexType name="TechnologyType" mixed="false">
    <xs:sequence>
      <xs:element name="technologyDescriptionAndIncludedProcesses" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-10-25"/>
      <!--<xs:element name="referenceToIncludedProcesses" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-10-26">
        <xs:unique name="referenceToIncludedProcessesShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
      <xs:element name="technologicalApplicability" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-10-27"/>
      <xs:element name="referenceToTechnologyPictogramme" type="common:GlobalReferenceType" minOccurs="0" edoc:id="1-1-10-28">
        <xs:unique name="referenceToTechnologyPictogrammeShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="referenceToTechnologyFlowDiagrammOrPicture" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-10-29">
        <xs:unique name="referenceToTechnologyFlowDiagrammOrPictureShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="ValidationType">
    <xs:sequence>
      <xs:element name="review" type="ReviewType" maxOccurs="unbounded" minOccurs="0" edoc:id="1-3-21">
        <!--<xs:unique name="ScopeUniqueConstraint">
          <xs:selector xpath="common:scope"/>
          <xs:field xpath="@name"/>
        </xs:unique>-->
        <xs:unique name="reviewDetailsUniqueConstraint">
          <xs:selector xpath="common:reviewDetails"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="otherReviewDetailsLangUniqueConstraint">
          <xs:selector xpath="common:otherReviewDetails"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!--<xs:complexType name="VariableParameterType">
    <xs:sequence>
      <xs:element name="formula" type="common:MatR" minOccurs="0" edoc:id="1-1-12-32"/>
      <xs:element name="meanValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-34"/>
      <xs:element name="minimumValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-35"/>
      <xs:element name="maximumValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-36"/>
      <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="1-1-12-37"/>
      <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="1-1-12-38"/>
      <xs:element name="comment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-12-39"/>
      <xs:element ref="common:other" minOccurs="0" edoc:id="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="common:MatV" use="required" edoc:id="1-1-12-33-1"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
  <xs:element name="processDataSet" type="ProcessDataSetType" edoc:id="1">
    <xs:key name="exchangeInternalID">
      <xs:selector xpath="process:exchanges/process:exchange"/>
      <xs:field xpath="@dataSetInternalID"/>
    </xs:key>
    <xs:keyref name="referenceToReferenceFlows" refer="exchangeInternalID">
      <xs:selector xpath="process:processInformation/process:quantitativeReference/process:referenceToReferenceFlow"/>
      <xs:field xpath="."/>
    </xs:keyref>
    <!--<xs:keyref name="allocation" refer="exchangeInternalID">
      <xs:selector xpath="process:exchanges/process:exchange/process:allocations/process:allocation"/>
      <xs:field xpath="@internalReferenceToCoProduct"/>
    </xs:keyref>
    <xs:unique name="variableParameterUniqueConstraint">
      <xs:selector xpath="process:processInformation/process:mathematicalRelations/process:variableParameter"/>
      <xs:field xpath="@name"/>
    </xs:unique>
    <xs:keyref name="referenceToVariableParameter" refer="variableParameterUniqueConstraint">
      <xs:selector xpath="process:exchanges/process:exchange/process:referenceToVariable"/>
      <xs:field xpath="."/>
    </xs:keyref>-->
  </xs:element>
</xs:schema>
