mainBranch/schemas/ILCD_Common_Groups_NA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD" xmlns="http://lca.jrc.it/ILCD/Common" xmlns:common="http://lca.jrc.it/ILCD/Common" xmlns:edoc="http://www.iai.fzk.de/lca/edoc" version="1.1" targetNamespace="http://lca.jrc.it/ILCD/Common" elementFormDefault="qualified">
   <xs:include schemaLocation="ILCD_Common_DataTypes_NA.xsd"/>
   <xs:include schemaLocation="ILCD_Common_Validation_NA.xsd"/>
   <xs:complexType name="CategoryType">
      <xs:simpleContent>
         <xs:extension base="String">
            <xs:attribute name="level" type="LevelType" use="required" edoc:id="2-9-36-144-1-a"/>
            <xs:attribute name="catId" type="xs:string" edoc:id="2-9-36-144-1-b"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ClassificationInformationType">
      <xs:sequence>
         <xs:element name="classification" type="ClassificationType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-2-7-2">
            <xs:unique name="ClassificationLevelUniqueConstraint">
               <xs:selector xpath="common:class"/>
               <xs:field xpath="@level"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClassificationType">
      <xs:sequence>
         <xs:element name="class" maxOccurs="unbounded" type="ClassType" edoc:id="1-1-2-7-2-1"/>
         <xs:element ref="other" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" edoc:id="1-1-2-7-2-a" default="ILCD"/>
      <xs:attribute name="classes" type="xs:anyURI" edoc:id="1-1-2-7-2-b"/>
      <xs:anyAttribute processContents="lax" namespace="##other"/>
   </xs:complexType>
   <xs:complexType name="ClassType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="level" type="LevelType" edoc:id="1-1-2-7-2-1-a" use="required"/>
            <xs:attribute name="classId" type="xs:string" edoc:id="1-1-2-7-2-1-b"/>
            <xs:anyAttribute processContents="lax" namespace="##other"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="CommissionerAndGoalType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToCommissioner" type="GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-24-96">
            <xs:unique name="referenceToCommissionerShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="project" type="StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-5-24-97"/>
         <xs:element name="intendedApplications" type="FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-5-24-98"/>
         <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataQualityIndicatorsType">
      <xs:sequence>
         <xs:element name="dataQualityIndicator" type="DataQualityIndicatorType" minOccurs="1" maxOccurs="unbounded" edoc:id="1-3-20-91"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DataQualityIndicatorType">
      <xs:attribute name="name" use="required" type="DataQualityIndicatorValues" edoc:id="1-3-20-91-1"/>
      <xs:attribute name="value" use="required" type="QualityValues" edoc:id="1-3-20-91-2"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowCategorizationType">
      <xs:sequence>
         <xs:element name="category" type="CategoryType" maxOccurs="unbounded" edoc:id="2-9-36-144-1"/>
         <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" default="ILCD" edoc:id="2-9-36-144-a"/>
      <xs:attribute name="categories" type="xs:anyURI" edoc:id="2-9-36-144-b"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowCategoryInformationType">
      <xs:sequence>
         <xs:element name="elementaryFlowCategorization" type="FlowCategorizationType" minOccurs="0" maxOccurs="unbounded" edoc:id="2-9-36-144">
            <xs:unique name="FlowClassificationLevelUniqueConstraint">
               <xs:selector xpath="common:category"/>
               <xs:field xpath="@level"/>
            </xs:unique>
         </xs:element>
         <xs:element name="classification" type="ClassificationType" minOccurs="0" maxOccurs="unbounded" edoc:id="2-9-36-145">
            <xs:unique name="ClassificationLevelUniqueConstraint2">
               <xs:selector xpath="common:class"/>
               <xs:field xpath="@level"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GlobalReferenceType">
      <xs:annotation>
         <xs:documentation>Represents a reference to another dataset or file. Either refObjectId and version, or uri, or both have to be specified.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="subReference" type="String" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Valid only for references of type "source data set". Allows to make references to sections, pages etc. within a source.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="shortDescription" type="STMultiLang" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:documentation>Short, clear-text summary of the referenced object that can be used as a hint what to expect behind the reference in cases where it cannot be resolved. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="GlobalReferenceTypeValues" use="required">
         <xs:annotation>
            <xs:documentation>(required) - indicates the type of the referenced dataset/file. One of GlobalReferenceTypeValues.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="refObjectId" type="UUID" use="optional">
         <xs:annotation>
            <xs:documentation>UUID of the referenced object</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="Version" use="optional">
         <xs:annotation>
            <xs:documentation>version number of the referenced object</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="uri" type="xs:anyURI" use="optional">
         <xs:annotation>
            <xs:documentation>URI of the referenced object</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TimeType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceYear" type="Year" minOccurs="0" edoc:id="1-1-6-18"/>
         <xs:element name="dataSetValidUntil" type="Year" minOccurs="0" edoc:id="1-1-6-19"/>
         <xs:element name="timeRepresentativenessDescription" type="FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-6-20"/>
         <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:group name="ComplianceGroup">
      <xs:sequence>
         <xs:element name="referenceToComplianceSystem" type="GlobalReferenceType" minOccurs="1" edoc:id="1-3-22-90">
            <xs:unique name="referenceToConformitySystemShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="approvalOfOverallCompliance" type="ComplianceValues" minOccurs="0" edoc:id="1-3-22-95"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="DataEntryByGroup1">
      <xs:sequence>
         <xs:element name="timeStamp" type="dateTime" minOccurs="0" maxOccurs="1" edoc:id="1-5-28-104"/>
         <xs:element name="referenceToDataSetFormat" type="GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-28-105">
            <xs:unique name="referenceToDataSetFormatShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="DataEntryByGroup2">
      <xs:sequence>
         <xs:element name="referenceToPersonOrEntityEnteringTheData" type="GlobalReferenceType" minOccurs="0" edoc:id="1-5-28-103">
            <xs:unique name="referenceToPersonOrEntityEnteringTheDataShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="PublicationAndOwnershipGroup1">
      <xs:sequence>
         <xs:element name="dataSetVersion" type="Version" minOccurs="1" edoc:id="1-5-30-111"/>
         <xs:element name="referenceToPrecedingDataSetVersion" type="GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-30-112">
            <xs:unique name="referenceToPrecedingDataSetVersionShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="permanentDataSetURI" type="xs:anyURI" minOccurs="0" edoc:id="1-5-30-300"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="PublicationAndOwnershipGroup2">
      <xs:sequence>
         <xs:element name="workflowAndPublicationStatus" type="WorkflowAndPublicationStatusValues" minOccurs="0" edoc:id="1-5-30-110"/>
         <xs:element name="referenceToUnchangedRepublication" type="GlobalReferenceType" minOccurs="0" edoc:id="1-5-30-114">
            <xs:unique name="referenceToPublicationShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="PublicationAndOwnershipGroup3">
      <xs:sequence>
         <xs:element name="copyright" type="boolean" minOccurs="0" edoc:id="1-5-30-116"/>
         <xs:element name="referenceToEntitiesWithExclusiveAccess" type="GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-30-117">
            <xs:unique name="referenceToEntitiesWithExclusiveAccessShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="licenseType" type="LicenseTypeValues" minOccurs="0" edoc:id="1-5-30-119"/>
         <xs:element name="accessRestrictions" type="FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-5-30-118"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="ValidationGroup1">
      <xs:sequence>
         <xs:element name="scope" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-20-82">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="method" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-20-83">
                     <xs:complexType>
                        <xs:attribute name="name" type="MethodOfReviewValues" use="required" edoc:id="1-3-20-83-1"/>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="name" type="ScopeOfReviewValues" use="required" edoc:id="1-3-20-82-1"/>
               <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:unique name="Method">
               <xs:selector xpath="common:method"/>
               <xs:field xpath="@name"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="dataQualityIndicators" minOccurs="0" maxOccurs="1" edoc:id="1-3-20-90"/>
         <xs:element ref="reviewDetails" minOccurs="0" maxOccurs="100" edoc:id="1-3-20-84"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="ValidationGroup3">
      <xs:sequence>
         <xs:element name="referenceToNameOfReviewerAndInstitution" type="GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-20-87">
            <xs:unique name="referenceToNameOfReviewerAndInstitutionShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="otherReviewDetails" type="FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-20-88"/>
         <xs:element name="referenceToCompleteReviewReport" type="GlobalReferenceType" minOccurs="0" edoc:id="1-3-20-89">
            <xs:unique name="referenceToCompleteReviewReportShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:element name="commissionerAndGoal" type="CommissionerAndGoalType">
      <xs:unique name="projectLangUniqueConstraint">
         <xs:selector xpath="common:project"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
      <xs:unique name="intendedApplicationsLangUniqueConstraint">
         <xs:selector xpath="common:intendedApplications"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="dataQualityIndicators" type="DataQualityIndicatorsType">
      <xs:unique name="DataQualityIndicatorUniqueConstraint">
         <xs:selector xpath="common:dataQualityIndicator"/>
         <xs:field xpath="@name"/>
      </xs:unique>
   </xs:element>
   <xs:element name="dateOfLastRevision" type="dateTime" edoc:id="1-5-30-113"/>
   <xs:element name="documentationCompliance" type="ComplianceValues" edoc:id="1-3-22-94"/>
   <xs:element name="generalComment" type="FTMultiLang"/>
   <xs:element name="methodologicalCompliance" type="ComplianceValues" edoc:id="1-3-22-91"/>
   <xs:element name="name" type="StringMultiLang"/>
   <xs:element name="nomenclatureCompliance" type="ComplianceValues" edoc:id="1-3-22-92"/>
   <xs:element name="other" edoc:id="0">
      <xs:complexType>
         <xs:sequence>
            <xs:any maxOccurs="unbounded" namespace="##other" processContents="lax"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="qualityCompliance" type="ComplianceValues" edoc:id="1-3-22-96"/>
   <xs:element name="referenceToConvertedOriginalDataSetFrom" type="GlobalReferenceType">
      <xs:unique name="referenceToOriginOfDataSetShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="referenceToDataSetUseApproval" type="GlobalReferenceType">
      <xs:unique name="dataSetUseApprovalShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="referenceToOwnershipOfDataSet" type="GlobalReferenceType">
      <xs:unique name="referenceToOwnershipOfDataSetShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="referenceToPersonOrEntityGeneratingTheDataSet" type="GlobalReferenceType" edoc:id="1-5-26-99">
      <xs:unique name="referenceToPersonOrEntityGeneratingTheDataSetShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="referenceToRawDataDocumentation" type="GlobalReferenceType" edoc:id="1-5-26-101">
      <xs:unique name="referenceToRawDataDocumentationShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="referenceToRegistrationAuthority" type="GlobalReferenceType">
      <xs:unique name="referenceToRegistrationAuthorityShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   <xs:element name="registrationNumber" type="String"/>
   <xs:element name="reviewCompliance" type="ComplianceValues" edoc:id="1-3-22-93"/>
   <xs:element name="reviewDetails" type="FTMultiLang" edoc:id="1-3-20-84"/>
   <xs:element name="shortName" type="StringMultiLang"/>
   <xs:element name="synonyms" type="FTMultiLang"/>
   <xs:element name="UUID" type="UUID"/>
</xs:schema>