gitBranches/schemas/ILCD_FlowDataSet_NA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD" xmlns="http://lca.jrc.it/ILCD/Flow" xmlns:edoc="http://www.iai.fzk.de/lca/edoc" xmlns:flow="http://lca.jrc.it/ILCD/Flow" xmlns:common="http://lca.jrc.it/ILCD/Common" targetNamespace="http://lca.jrc.it/ILCD/Flow" elementFormDefault="qualified" version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups_NA.xsd"/>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataEntryBy" type="DataEntryByType" minOccurs="0" edoc:id="2-13-62"/>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" minOccurs="0" edoc:id="2-13-64"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="CompletenessAvailabilityImpactFactorsType">
      <xs:attribute name="type" type="common:CompletenessTypeValues" use="required"/>
      <xs:attribute name="value" type="common:CompletenessAvailabilityValues" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded" edoc:id="1-3-22-1"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:group ref="common:DataEntryByGroup2"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID" edoc:id="2-9-36-137"/>
         <xs:element name="name" type="NameType" minOccurs="0" edoc:id="2-9-36-138-1">
            <xs:unique name="baseNameLangUniqueConstraint">
               <xs:selector xpath="flow:baseName"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="treatmentStandardsRoutesLangUniqueConstraint">
               <xs:selector xpath="flow:treatmentStandardsRoutes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="mixAndLocationTypesLangUniqueConstraint">
               <xs:selector xpath="flow:mixAndLocationTypes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="flowPropertiesLangUniqueConstraint">
               <xs:selector xpath="flow:flowProperties"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:synonyms" minOccurs="0" maxOccurs="100" edoc:id="2-9-36-142"/>
         <xs:element name="classificationInformation" type="common:FlowCategoryInformationType" minOccurs="0" edoc:id="2-9-36-143"/>
         <xs:element name="CASNumber" type="common:CASNumber" minOccurs="0" edoc:id="2-9-36-146"/>
         <xs:element name="sumFormula" type="common:String" minOccurs="0" edoc:id="2-9-36-147"/>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100" edoc:id="2-9-36-150"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="flowInformation" type="FlowInformationType" edoc:id="2-9"/>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType" minOccurs="0" edoc:id="2-11"/>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType" minOccurs="0" edoc:id="2-13"/>
         <xs:element name="flowProperties" type="FlowPropertiesType" minOccurs="0" edoc:id="2-15-66"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:attribute name="locations" type="common:String"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType" edoc:id="2-9-36">
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0" edoc:id="2-9-38"/>
         <xs:element name="geography" type="GeographyType" minOccurs="0" edoc:id="2-9-42">
            <xs:unique name="locationOfSupplyLangUniqueConstraint">
               <xs:selector xpath="flow:locationOfSupply"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="technology" type="TechnologyType" minOccurs="0" maxOccurs="1" edoc:id="2-9-43"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
    <xs:complexType name="FlowPropertiesType" mixed="false">
      <xs:sequence>
         <xs:element name="flowProperty" type="FlowPropertyType" maxOccurs="unbounded" minOccurs="1" edoc:id="2-15-66-1">
            <xs:unique name="flowPropertyGeneralCommentLangUniqueConstraint">
               <xs:selector xpath="flow:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowPropertyType">
      <xs:sequence>
         <xs:element name="referenceToFlowPropertyDataSet" type="common:GlobalReferenceType" edoc:id="2-15-66-190">
            <xs:unique name="referenceToFlowPropertyDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="meanValue" type="common:Real" edoc:id="2-15-66-192"/>
         <xs:element name="minimumValue" type="common:Real" minOccurs="0" edoc:id="2-15-66-193"/>
         <xs:element name="maximumValue" type="common:Real" minOccurs="0" edoc:id="2-15-66-194"/>
         <xs:element name="uncertaintyDistributionType" minOccurs="0" type="common:UncertaintyDistributionTypeValues" edoc:id="2-15-66-195"/>
         <xs:element name="relativeStandardDeviation95In" minOccurs="0" type="common:Perc" edoc:id="2-15-66-196"/>
         <xs:element name="dataDerivationTypeStatus" minOccurs="0" type="common:FlowDataDerivationTypeStatusValues" edoc:id="2-15-66-198"/>
         <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="2-15-66-199"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="dataSetInternalID" type="common:Int5" edoc:id="2-15-66-191"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="GeographyType" mixed="false">
      <xs:sequence>
         <xs:element name="locationOfSupply" type="common:StringMultiLang" minOccurs="1" maxOccurs="100" edoc:id="2-9-42-152"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIMethodType" mixed="false">
      <xs:sequence>
         <xs:element name="typeOfDataSet" type="common:FlowTypeValues" edoc:id="2-11-48-153"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIMethod" type="LCIMethodType" minOccurs="0" edoc:id="2-11-48"/>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0" edoc:id="2-11-56"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="NameType">
      <xs:sequence>
         <xs:element name="baseName" type="common:StringMultiLang" maxOccurs="100" edoc:id="2-9-36-138"/>
         <xs:element name="treatmentStandardsRoutes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="2-9-36-139"/>
         <xs:element name="mixAndLocationTypes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="2-9-36-140"/>
         <xs:element name="flowProperties" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="2-9-36-141"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0" edoc:id="1-5-30-115"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToReferenceFlowProperty" type="common:Int5" edoc:id="2-9-38-151"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TechnologyType">
      <xs:sequence>
         <xs:element name="technologicalApplicability" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="2-9-43-1"/>
         <xs:element name="referenceToTechnicalSpecification" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="2-9-43-2">
            <xs:unique name="referenceToTechnicalSpecificationShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="flowDataSet" type="FlowDataSetType" edoc:id="2">
      <xs:key name="FlowPropertyInternalID">
         <xs:selector xpath="flow:flowProperties/flow:flowProperty"/>
         <xs:field xpath="@dataSetInternalID"/>
      </xs:key>
      <xs:keyref name="ReferenceToReferenceFlowProperty" refer="FlowPropertyInternalID">
         <xs:selector xpath="flow:flowInformation/flow:quantitativeReference/flow:referenceToReferenceFlowProperty"/>
         <xs:field xpath="."/>
      </xs:keyref>
   </xs:element>
</xs:schema>