schemas/EPD_Extensions_2024.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<!-- This product includes portions of the ILCD Format and/or the ILCD Editor, created by the European Commmission's JRC-IES, European 
  Platform on Life Cycle Assessment together with the FZK GmbH, IAI. Copyright (C) 2009, European Commission. All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:epd13="http://www.iai.kit.edu/EPD/2013" xmlns:epd19="http://www.iai.kit.edu/EPD/2019"
   xmlns:epd24="http://www.indata.network/EPD/2024" xmlns="http://www.indata.network/EPD/2024" targetNamespace="http://www.indata.network/EPD/2024"
   xmlns:common="http://lca.jrc.it/ILCD/Common" xmlns:process="http://lca.jrc.it/ILCD/Process" xmlns:ilcd="http://lca.jrc.it/ILCD"
   elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups.xsd"/>
   
   <xs:element name="variability">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="manufacturerVariability" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="productVariability" minOccurs="1" maxOccurs="1"/>
            <xs:element name="variabilityDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:unique name="descriptionLangUniqueConstraint">
          <xs:selector xpath="epd24:variabilityDescription"/>
          <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   
   <xs:element name="manufacturerVariability">
      <xs:complexType>
         <xs:sequence>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="type" type="ManufacturerVariabilityValues" use="required"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="productVariability">
      <xs:complexType>
         <xs:sequence>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="type" type="ProductVariabilityValues" use="required"/>
         <xs:attribute ref="variation" use="optional"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>
   
   <xs:attribute name="variation" type="common:Perc"/>
   
   <xs:simpleType name="ManufacturerVariabilityValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Single production site"></xs:enumeration>
         <xs:enumeration value="Single manufacturer with multiple production sites"></xs:enumeration>
         <xs:enumeration value="Multiple manufacturers"></xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="ProductVariabilityValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Single product"></xs:enumeration>
         <xs:enumeration value="Range of products where variability is described"></xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   
</xs:schema>
