schemas/EPD_Extensions_2024.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<!-- This product includes portions of the ILCD Format and/or the ILCD Editor, created by the European Commmission's JRC-IES, European 
  Platform on Life Cycle Assessment together with the FZK GmbH, IAI. Copyright (C) 2009, European Commission. All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:epd24="http://www.indata.network/EPD/2024" xmlns="http://www.indata.network/EPD/2024" targetNamespace="http://www.indata.network/EPD/2024"
   xmlns:common="http://lca.jrc.it/ILCD/Common"
   elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups.xsd"/>

   <xs:element name="SVHC">
      <xs:complexType>
         <xs:attribute name="present" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="pcrCompliance">
      <xs:complexType>
         <xs:attribute name="allocation" type="xs:boolean" use="required"/>
         <xs:attribute name="cutOffRules" type="xs:boolean" use="required"/>
         <xs:attribute name="upstreamDataDeviatingFromAllocationPrinciples" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>

   <xs:element name="productIds">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="productId" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="productId">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="type" type="xs:string"/>
               <xs:anyAttribute/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="manufacturers">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="manufacturer" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="manufacturer">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="contact" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="sites" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="isProvidingData" type="xs:boolean" use="required"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:element name="sites">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="site" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="site">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="facilityIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="olc" type="OLC" minOccurs="1" maxOccurs="1"/>
            <xs:element name="geoCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="streetAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="OLC">
      <xs:annotation>
         <xs:documentation>Open Location Code (https://maps.google.com/pluscodes/)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[23456789C][23456789CFGHJMPQRV][23456789CFGHJMPQRVWX]{6}\+[23456789CFGHJMPQRVWX]{2,7}"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="referenceServiceLife" type="epd24:ServiceLife">
   </xs:element>

   <xs:element name="estimatedServiceLife" type="epd24:ServiceLife">
   </xs:element>

   <xs:complexType name="ServiceLife">
      <xs:attribute name="years" type="xs:double" use="required"/>
      <xs:sequence>
         <xs:element ref="epd24:useConditionFactor" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referenceToStandard" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referenceToUseConditionsDocumentation" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="comment" type="common:FTMultiLang" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:unique name="ServiceLifeCommentLangUniqueConstraint">
         <xs:selector xpath="epd24:comment"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
      <xs:unique name="useConditionFactorCategoryUniqueness">
         <xs:selector xpath="epd24:useCondition"/>
         <xs:field xpath="@epd24:factorCategory"/>
      </xs:unique>
      <xs:unique name="ServiceLifeReferenceToStandardShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="epd24:referenceToStandard/common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
      <xs:unique name="ServiceLifeReferenceToUseConditionsDocumentationShortDescriptionLangUniqueConstraint">
         <xs:selector xpath="epd24:referenceToUseConditionsDocumentation/common:shortDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:complexType>

   <xs:element name="useConditionFactor">
      <xs:complexType>
         <xs:attribute name="factorCategory" type="epd24:UseConditionFactors" use="required"/>
         <xs:attribute name="objectSpecificGrade" type="epd24:UseConditionDegrees"/>
         <xs:attribute name="referenceGrade" type="epd24:UseConditionDegrees"/>
         <xs:attribute name="factor" type="xs:double" use="required"/>
         <xs:sequence>
            <xs:element name="comment" type="common:FTMultiLang" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:unique name="useConditionFactorCommentLangUniqueConstraint">
            <xs:selector xpath="epd24:comment"/>
            <xs:field xpath="@xml:lang"/>
         </xs:unique>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="UseConditionFactors">
      <xs:restriction base="xs:string">
         <xs:enumeration value="A - inherent quality"/>
         <xs:enumeration value="B - design level"/>
         <xs:enumeration value="C - work execution"/>
         <xs:enumeration value="D - indoor environment"/>
         <xs:enumeration value="E - outdoor environment"/>
         <xs:enumeration value="F - usage conditions"/>
         <xs:enumeration value="G - maintenance level"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="UseConditionDegrees">
      <xs:restriction base="xs:int">
         <xs:enumeration value="0"/>
         <xs:enumeration value="1"/>
         <xs:enumeration value="2"/>
         <xs:enumeration value="3"/>
         <xs:enumeration value="4"/>
         <xs:enumeration value="5"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="variability">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="manufacturerVariability" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="productVariability" minOccurs="0" maxOccurs="1"/>
            <xs:element name="variabilityDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:unique name="variabilityDescriptionLangUniqueConstraint">
          <xs:selector xpath="epd24:variabilityDescription"/>
          <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>

   <xs:element name="manufacturerVariability">
      <xs:complexType>
         <xs:sequence>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="type" type="ManufacturerVariabilityValues" use="required"/>
         <xs:attribute ref="epd24:variation" use="optional"/>
         <xs:attribute ref="epd24:variationRange" use="optional"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:element name="productVariability">
      <xs:complexType>
         <xs:sequence>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="type" type="ProductVariabilityValues" use="required"/>
         <xs:attribute ref="epd24:variation" use="optional"/>
         <xs:attribute ref="epd24:variationRange" use="optional"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:attribute name="variation" type="common:Perc"/>
   <xs:attribute name="variationRange" type="epd24:VariationRange"/>

   <xs:element name="scenarioData">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="epd24:useStageScenarioData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="epd24:eolScenarioData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:element name="useStageScenarioData">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="epd24:soilAndWaterImpacts" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute ref="scenario" use="optional"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:element name="soilAndWaterImpacts">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="soilAndWaterImpactsDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:anyAttribute/>
      </xs:complexType>
      <xs:unique name="soilAndWaterImpactsDescriptionLangUniqueConstraint">
         <xs:selector xpath="epd24:soilAndWaterImpactsDescription"/>
         <xs:field xpath="@xml:lang"/>
      </xs:unique>
   </xs:element>
   
   <xs:element name="eolScenarioData">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="epd24:collection" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="epd24:recovery" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="epd24:disposal" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute ref="scenario" use="optional"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="collection">
      <xs:complexType>
         <xs:attribute name="separate" type="xs:double"/>
         <xs:attribute name="withMixedWaste" type="xs:double"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="recovery">
      <xs:complexType>
         <xs:attribute name="reuse" type="xs:double"/>
         <xs:attribute name="recycling" type="xs:double"/>
         <xs:attribute name="energyRecovery" type="xs:double"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>

   <xs:element name="disposal">
      <xs:complexType>
         <xs:attribute name="finalDeposition" type="xs:double"/>
         <xs:anyAttribute/>
      </xs:complexType>
   </xs:element>
   
   <xs:attribute name="scenario" type="xs:string"/>
   
   <xs:simpleType name="ManufacturerVariabilityValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Single production site"/>
         <xs:enumeration value="Single manufacturer with multiple production sites"/>
         <xs:enumeration value="Multiple manufacturers"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ProductVariabilityValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Single product"/>
         <xs:enumeration value="Range of products where variability is described"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="VariationRange">
      <xs:restriction base="xs:string">
<!--         modelled after ISO 14044 Annex B-->
         <xs:enumeration value="A - less than 2,5%"/>
         <xs:enumeration value="B - between 2,5% and 10%"/>
         <xs:enumeration value="C - between 10% and 25%"/>
         <xs:enumeration value="D - between 25% and 50%"/>
         <xs:enumeration value="E - more than 50%"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="expirationDateOfEPD" type="xs:date"/>

</xs:schema>
