schemas/ILCD_LCIAMethodDataSet_NA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @version-tag-schemas@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD" xmlns:common="http://lca.jrc.it/ILCD/Common" xmlns:lciamethod="http://lca.jrc.it/ILCD/LCIAMethod" xmlns="http://lca.jrc.it/ILCD/LCIAMethod" xmlns:edoc="http://www.iai.fzk.de/lca/edoc" targetNamespace="http://lca.jrc.it/ILCD/LCIAMethod" elementFormDefault="qualified" version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups_NA.xsd"/>
   <xs:redefine schemaLocation="ILCD_Common_Validation_NA.xsd">
      <xs:simpleType name="ScopeOfReviewValues">
         <xs:restriction base="ScopeOfReviewValues">
            <xs:enumeration value="Raw data"/>
            <xs:enumeration value="Documentation"/>
         </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MethodOfReviewValues">
         <xs:restriction base="MethodOfReviewValues">
            <xs:enumeration value="Validation of data sources"/>
            <xs:enumeration value="Sample tests on calculations"/>
            <xs:enumeration value="Cross-check with other source"/>
            <xs:enumeration value="Cross-check with other data set"/>
            <xs:enumeration value="Compliance with ISO 14040 to 14044"/>
            <xs:enumeration value="Expert judgement"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:redefine>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:commissionerAndGoal" minOccurs="0" edoc:id="3-21-92"/>
         <xs:element name="dataGenerator" type="DataGeneratorType" edoc:id="3-21-94">
            <xs:unique name="referenceToFateAndEffectModelLangUniqueConstraint">
               <xs:selector xpath="lciamethod:referenceToFateAndEffectModel"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="dataEntryBy" type="DataEntryByType" edoc:id="3-21-96"/>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" edoc:id="3-21-98">
            <xs:unique name="accessRestrictionsLangUniqueConstraint">
               <xs:selector xpath="common:accessRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
         <xs:element ref="common:nomenclatureCompliance" minOccurs="0" edoc:id="1-3-22-92"/>
         <xs:element ref="common:methodologicalCompliance" minOccurs="0" edoc:id="1-3-22-91"/>
         <xs:element ref="common:reviewCompliance" minOccurs="0" edoc:id="1-3-22-93"/>
         <xs:element ref="common:documentationCompliance" minOccurs="0" edoc:id="1-3-22-94"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:element ref="common:referenceToConvertedOriginalDataSetFrom" minOccurs="0" edoc:id="3-21-96-249"/>
         <xs:group ref="common:DataEntryByGroup2"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataGeneratorType">
      <xs:sequence>
         <xs:element name="referenceToFateAndEffectModel" type="common:StringMultiLang" minOccurs="0" maxOccurs="unbounded" edoc:id="3-21-94-241"/>
         <xs:element ref="common:referenceToPersonOrEntityGeneratingTheDataSet" maxOccurs="unbounded" edoc:id="1-5-26-99"/>
         <xs:element ref="common:referenceToRawDataDocumentation" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-26-101"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID" edoc:id="3-17-70-201"/>
         <xs:element ref="common:name" maxOccurs="100" edoc:id="3-17-70-202"/>
         <xs:element name="methodology" type="MethodologyType" edoc:id="3-17-70-208"/>
         <xs:element name="classificationInformation" type="common:ClassificationInformationType" minOccurs="0" edoc:id="2-9-36-143"/>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100" edoc:id="3-17-70-207"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSourcesTreatmentAndRepresentativenessType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="3-19-84-219">
            <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="percentageOfSafeguardObjectProblemFieldOrTopicCovered" type="common:Perc" minOccurs="0" edoc:id="3-19-84-221"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowExchangeType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToFlowDataSet" type="common:GlobalReferenceType" edoc:id="3-23-100-260">
            <xs:unique name="referenceToFlowDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="location" type="common:String" minOccurs="0" edoc:id="3-23-100-261"/>
         <xs:element name="exchangeDirection" type="common:ExchangeDirectionValues" edoc:id="3-23-100-262"/>
         <xs:element name="meanValue" type="common:Real" edoc:id="3-23-100-263"/>
         <xs:element name="minimumValue" type="common:Real" minOccurs="0" edoc:id="3-23-100-264"/>
         <xs:element name="maximumValue" type="common:Real" minOccurs="0" edoc:id="3-23-100-265"/>
         <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="3-23-100-266"/>
         <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="3-23-100-267"/>
         <xs:element name="dataSourceType" type="common:DataSourceTypeValues" minOccurs="0" edoc:id="3-23-100-268"/>
         <xs:element name="dataDerivationTypeStatus" type="common:DataDerivationTypeStatusValues" minOccurs="0" edoc:id="3-23-100-269"/>
         <xs:element name="referencesToDataSource" type="ReferencesToDataSourceType" minOccurs="0" edoc:id="3-23-100-270"/>
         <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="3-23-100-272"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowsExchangesType" mixed="false">
      <xs:sequence>
         <xs:element name="flowExchange" type="FlowExchangeType" maxOccurs="unbounded" edoc:id="3-23-100">
            <xs:unique name="flowGeneralCommentLangUniqueConstraint">
               <xs:selector xpath="lciamethod:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="GeographyType" mixed="false">
      <xs:sequence>
         <xs:element name="locationOfValidity" type="LocationOfValidityType" edoc:id="3-17-76-212">
            <xs:unique name="locationDescriptionOfRestrictionsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:descriptionOfRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="subLocationOfValidity" type="SubLocationOfValidityType" minOccurs="0" maxOccurs="unbounded" edoc:id="3-17-76-213">
            <xs:unique name="subLocationDescriptionOfRestrictionsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:descriptionOfRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ImpactModelType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIAMethodDescriptionAndIncludedSubMethods" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="3-17-78-215"/>
         <xs:element name="referenceToIncludedSubMethods" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="3-17-78-216">
            <xs:unique name="referenceToIncludedSubMethodsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="generalApplicability" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="3-17-78-217"/>
         <xs:element name="referenceToLCIAMethodFlowDiagrammOrPicture" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="3-17-78-218"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIAMethodInformation" type="LCIAMethodInformationType" edoc:id="3-17"/>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType" edoc:id="3-19"/>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType" minOccurs="0" edoc:id="3-21"/>
         <xs:element name="flowsExchanges" type="FlowsExchangesType" edoc:id="3-23"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:attribute name="locations" type="common:String"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType" edoc:id="3-17-70">
            <xs:unique name="nameLangUniqueConstraint">
               <xs:selector xpath="common:name"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType" edoc:id="3-17-72"/>
         <xs:element name="time" type="common:TimeType" edoc:id="3-17-74">
            <xs:unique name="timeRepresentativenessDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:timeRepresentativenessDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="geography" type="GeographyType" edoc:id="3-17-76"/>
         <xs:element name="impactModel" type="ImpactModelType" minOccurs="0" edoc:id="3-17-78">
            <xs:unique name="LCIAMethodDescriptionAndIncludedSubMethodsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:LCIAMethodDescriptionAndIncludedSubMethods"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalApplicabilityLangUniqueConstraint">
               <xs:selector xpath="lciamethod:generalApplicability"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LocationOfValidityType">
      <xs:sequence>
         <xs:element name="descriptionOfRestrictions" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="3-17-76-214"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="location" type="common:String" use="required" edoc:id="3-17-76-212"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="MethodologyType">
      <xs:choice>
        <xs:element name="standardMethod" type="common:StandardMethodTypeValues" edoc:id="3-17-70-209"/>
        <xs:element name="userMethod" type="xs:string"  edoc:id="3-17-70-210"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSourcesTreatmentAndRepresentativeness" type="DataSourcesTreatmentAndRepresentativenessType" minOccurs="0" edoc:id="3-19-84"/>
         <xs:element name="validation" type="ValidationType" edoc:id="3-19-88"/>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0" edoc:id="3-19-90"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:group ref="common:PublicationAndOwnershipGroup2"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0" edoc:id="1-5-30-115"/>
         <xs:group ref="common:PublicationAndOwnershipGroup3"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToReferenceUnitGroup" type="common:GlobalReferenceType" edoc:id="3-17-72-208">
            <xs:unique name="referenceToReferenceUnitGroupShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ReferencesToDataSourceType">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" edoc:id="3-23-100-270">
            <xs:unique name="flowReferenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:sequence>
         <xs:group ref="common:ValidationGroup1"/>
         <xs:group ref="common:ValidationGroup3"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="common:TypeOfReviewValues" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="SubLocationOfValidityType">
      <xs:sequence>
         <xs:element name="descriptionOfRestrictions" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="3-17-76-214"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="subLocation" type="common:String" use="required" edoc:id="3-17-76-213"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ValidationType">
      <xs:sequence>
         <xs:element name="review" type="ReviewType" maxOccurs="unbounded" edoc:id="3-19-88-1">
            <xs:unique name="ScopeUniqueConstraint">
               <xs:selector xpath="common:scope"/>
               <xs:field xpath="@name"/>
            </xs:unique>
            <xs:unique name="reviewDetailsUniqueConstraint">
               <xs:selector xpath="common:reviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="otherReviewDetailsLangUniqueConstraint">
               <xs:selector xpath="common:otherReviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:element name="LCIAMethodDataSet" type="LCIAMethodDataSetType" edoc:id="3"/>
</xs:schema>